.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .pokelogo-container {
    margin-right: 5px; /* Adjust spacing between the logo and the Lottie animation */
  }
  
  .pokelogo {
    max-width: 90;
    height: auto; 
  }

  .lottie-animation {
    display: flex;
    align-items: center;
  }
  

  .lottie-animation .lottie-container {
    max-width: 90%; 
  }