.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .pokelogo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .pokelogo {
    /* max-width: 90; */
    height: auto; 
    width: 70%;

  }

  .lottie-animation {
    display: flex;
    align-items: center;
  }
  

  .lottie-animation .lottie-container {
    max-width: 80%; 
  }