
input {
    color: #fff;
    padding: 10px;
    width: 10%;
    font-size: 16px;
    border: 1px groove rgba( 255,255,255,.2 );
    border-radius: 4px;
    background-color: rgba( 255,255,255,.2 );
    display: flex;
    margin: 0 auto;
  }
  

  input:focus {
    border-color: #686666;
    outline: none;
  }
  

  input::placeholder {
    color: #ccc;
    text-align: center;
  }
  
  /* Optional: Add styling for search results below the search bar */
  .search-results {
    max-height: 200px; 
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
  
  /* Style for individual search result items */
  .search-results-item {
    padding: 10px
  }